In [38]:
#Example on User defined function

In [34]:
def add_numbers(x,y):
    sum = x + y
    return sum
num1 = 10
num2 = 15
print("The sum is", add_numbers(num1,num2))

The sum is 25

In [36]:
def add_numbers(x,y):
    sum = x + y
    return sum
num1 = int(input("Enter first number : "))
num2 = int(input("Enyer second number : "))
print("The sum is : ", add_numbers(num1,num2))

Enter first number :  58
Enyer second number :  12

The sum is :  70

In [54]:
def greet():
    print("Hello World")
greet()
print("Outside Function")

Hello World
Outside Function

In [56]:
def greet():
    print("Hello World")
print("Outside Function", greet())

Hello World
Outside Function None

In [60]:
def greet():
    print("Hello World")
greet()
print("Outside Function")
greet()

Hello World
Outside Function
Hello World

In [62]:
def greet(name):
    print("Hello",name)
greet("John")

Hello John

In [68]:
def find_square(num1):
    result = num1 * num1
    return result
num1 = int(input("Enter the Number : "))
print("The square of the num1 is :", find_square(num1))

Enter the Number :  96

The square of the num1 is : 9216

In [70]:
square = find_square(7)
print("Square of the no. is : ", square)

Square of the no. is :  49

In [ ]:
#Puthon library functions

In [76]:
import math
square_root = math.sqrt(9)
print("Square Root of 9 is : ",square_root)

Square Root of 9 is :  3.0

In [78]:
import math
square_root = math.sqrt(9)
print("Square Root of 9 is : ",square_root)
power = math.pow(5,9)
print("5 is a power 9 is :",power)

Square Root of 9 is :  3.0
5 is a power 9 is : 1953125.0

In [5]:
def my_function(*kids):
    print("The youngest child is : ", *kids[2])
my_function("Rama","Radha","vidula","Sushama","Siddhi")

The youngest child is :  v i d u l a

In [15]:
def my_function(*args):
    print("type",type(args))
    print("first arguments",args[0])
    print("second arguments",args[1])
    print("all arguments",args)
my_function("Rama","Rasika","Radha")

type <class 'tuple'>
first arguments Rama
second arguments Rasika
all arguments ('Rama', 'Rasika', 'Radha')